* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background: #FFFFFF;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: palevioletred;
    padding: 1rem 2rem;
    color: #FFFFFF;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.desktop-nav a,
.mobile-nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 800;
    padding-left: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.hero {
    background: url(/PeterNwachukwuassignment/ExcelDogs/images/img1.jpeg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 90vh;
}

.hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content h1 {
    color: #FFFFFF;
    font-weight: bolder;


}

.hero-content p {
    color: #FFFFFF;
    font-style: italic;
    font-weight: bold;
    margin: 0 1rem;
}

.hero-content button {
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    background: palevioletred;
    color: #FFFFFF;
}

/* Our Service */
#our-service {
    text-align: center;
}

.ourservice1,
.ourservice2,
.ourservice3,
.ourservice4,
.ourservice5 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

img {
    border-radius: 15rem;
    width: 30vh;
    padding: 1rem 1rem 0 1rem;
    padding-bottom: 1rem;
}

.img1 {
    display: flex;
    gap: 1.5rem;
    background: palevioletred;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.img2 {
    display: flex;
    gap: 1.5rem;
    background: #FFFFFF;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
}

.img3 {
    display: flex;
    gap: 1.5rem;
    background: #FFFFFF;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
}

.img4 {
    display: flex;
    gap: 1.5rem;
    background: palevioletred;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.img5 {
    display: flex;
    gap: 1.5rem;
    background: palevioletred;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.img6 {
    display: flex;
    gap: 1.5rem;
    background: #FFFFFF;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
}

.img7 {
    display: flex;
    gap: 1.5rem;
    background: #FFFFFF;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
}

.img8 {
    display: flex;
    gap: 1.5rem;
    background: palevioletred;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.img9 {
    display: flex;
    gap: 1.5rem;
    background: palevioletred;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.img10 {
    display: flex;
    gap: 1.5rem;
    background: #FFFFFF;
    width: 50%;
    border-radius: 4rem;
    text-align: center;
    font-weight: bold;
}
.our-service-end {
    text-align: center;
    margin: 0 20rem 0 20rem;
    font-weight: bold;
}

/* stores */
.section-stores {
    text-align: center;
    margin-top: 5rem;
}

.grid-stores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.store {
    background: #f4f4f4;
    padding: 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#contact {
    text-align: center;
    background: palevioletred;
    color: #FFFFFF;
    margin-top: 10rem;
}
.contact-list a {
    text-decoration: none;
    padding: 0 1.5rem;
    color: #FFFFFF;
}
@media (max-width: 450px){
    .ourservice1,
     .ourservice2,
     .ourservice3,
     .ourservice4,
     .ourservice5{
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
            flex-direction: column;
            align-items: center;
     }
    .img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10{
        width: auto;
        margin-left: 1.5rem;
    }
    .our-service-end p{
        display: flex;
        flex-direction: row;
        overflow-wrap: break-word;
    }
    header{
        font-size: smaller;
    }
    .desktop-nav a{
        font-size: smaller;
    }
}